.machine-driver.%%DRIVERNAME%% {
    background-image: url('interoutevdc.svg');
}

.col-sm-12.col-md-6.col-lg-6.form-control {
    width: 50%;
}

.slider .slider-handle {
    position: absolute;
    width: 30px;
    height: 16px;
    border-radius: 0;
    background-color: #ccd1d3;
    border: 1px solid #99a3a8;
}

.slider .slider-bar {
    background-color: #74c011;
}

.cpu-label, .vram-label {
    position: absolute;
    left: 143px;
    top: 17px;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.btn-square.cpu,
.btn-square.vram {
    outline: none;
    height: 1.25em;
    margin: 0;
    padding: 13.5px 0;
    border: none;
    background-repeat: no-repeat !important;
    transition: 0.3s background-color ease;
    line-height: 0;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    width: 59px;
}


.btn-square.cpu.minus,
.btn-square.vram.minus {
   background-color: #d1d1d1;
   border-color: #d1d1d1;
}

.btn-square.cpu.minus:hover,
.btn-square.vram.minus:hover {
   background-color: #a7a7a7;
   border-color: #a7a7a7;
}

.btn-square.cpu.plus:hover,
.btn-square.vram.plus:hover {
    background-color: #00ccff;
    border-color: #00ccff;
}

.btn-square.cpu.plus,
.btn-square.vram.plus {
   background-color: #00aeef;
   border-color: #00aeef;
}

.cpu + input.form-control, .vram + input.form-control {
   display: inline-block;
   width: 115px;
}


